
.video{
  position: absolute;
  top: 10px;
  left: 0;
  z-index: -2;
  object-fit: cover;
  width: 100%;
  height: 100%;
  
  
}
.content2{
  
  margin-top: 250px;
  margin-left:100px;
  
}
h1.text5{
  color: rgb(255, 0, 0);
  font-size: 600%;

}
h1.text4{
  color: aliceblue;
  font-size: 300%;
}
.content1{
  margin-top: 50px;
  /* margin-left: 700px; */
  text-align: center;
}
h1.text1{
  font-size: 500%;
  font-family: algerian;
  
}
h1.text2{
  font-size: 500%;
  font-family: algerian;
   /* text-align: center;
   margin-right:800px ; */
}
h1.text3{
  font-size: 70px;
  font-family: algerian;
  /* text-align: center;
  margin-right: 800px; */
  color: rgb(233, 8, 8);
  
}


h4{
 
   margin-left: 5%;
   margin-top:3% ;
   font-size: 40px;
   font-style: bold;
   font-style: italic;
   
}
/* .artandcraft{ */
  /* background-color: aqua;
  border-radius: 20px;
  color: black;
  box-shadow:0 6px 8px crimson;
  margin-top: 50px;
  height: 200px;
  width: 70%; */
/* } */
.craftsection{
  margin-left: 4%;
  padding: 30px;
  font-size: 30px;
  background-color: rgb(194, 238, 238);
  border-radius: 20px;
  color: black;
  box-shadow:0 3px 5px crimson;
  margin-top: 20px;
  height: 300px;
  width: 70%;
  padding-left: 30px;
}
.fairsection{
  margin-left: 4%;
  padding: 30px;
  font-size: 30px;
  background-color: rgb(194, 238, 238);
  border-radius: 20px;
  color: black;
  box-shadow:0 3px 5px crimson;
  margin-top: 20px;
  height: 340px;
  width: 70%;
  padding-left: 30px;
}
.foodsection{
  margin-left: 4%;
  padding: 30px;
  font-size: 30px;
  background-color: rgb(194, 238, 238);
  border-radius: 20px;
  color: black;
  box-shadow:0 3px 5px crimson;
  margin-top: 20px;
  height: 390px;
  width: 70%;
  padding-left: 30px;
}
.top{
  margin-top: 8%;
  font-size: 70px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.mahabodhi{
  /* display: block; */
  margin-top: 6%;
  border-radius: 10px;
  margin-left: 3%;
  border-style:double;
  height: 30%;
  width: 25%;
  transition:0.6s;
 
  
}
.top.mahabodhi:hover{
  transform:scale(1.5);
  z-index: 0;
}
.textover1{
  position: absolute;
  top:600px;
  left:30px;
  height: 34.8%;
  width: 23.8%;
  margin-top: 35%;
  margin-left: 6.5%;
  background-color: rgba(0,0,0,0.474);
  border-radius: 10px;
  align-items: center;
  font-size: 40px;
  color: aliceblue;
  display:flex;
  justify-content: center;
  opacity: 0;
  transition:0.6s;
}

.textover1:hover{
  opacity: 1;
}
.ashokan{
  margin-top: 6%;
  border-radius: 10px;
  margin-left: 3%;
  border-style:double;
  height: 60%;
  width: 28%;
}
.textover2{
  position: absolute;
  top:600px;
  left:522px;
  height: 34.8%;
  width: 26.5%;
  margin-top: 35%;
  margin-left: 6.5%;
  background-color: rgba(0,0,0,0.474);
  border-radius: 10px;
  align-items: center;
  font-size: 40px;
  color: aliceblue;
  display:flex;
  justify-content: center;

  opacity: 0;
  transition:0.6s;
}

.textover2:hover{
  opacity: 1;
}
.tutla{
  border-style:double;
  margin-top: 6%;
  margin-left: 3%;
  border-radius: 10px;
  height: 43%;
  width: 32%;
}
.textover3{
  position: absolute;
  top:605px;
  left:1065px;
  height: 34%;
  width: 30.2%;
  margin-top: 34.9%;
  margin-left: 6.1%;
  background-color: rgba(0,0,0,0.474);
  border-radius: 10px;
  align-items: center;
  font-size: 40px;
  color: aliceblue;
  display:flex;
  justify-content: center;
  
  opacity: 0;
  transition:0.6s;
}

.textover3:hover{
  opacity: 1;
}
.a{
  
  font-size: 40px;
  margin-left: 95px;
  margin-top: 20px;
   color:   rgb(4, 121, 66);
}
.b{
  font-size: 40px;
  margin-left: 180px;
  color:   rgb(4, 121, 66);
}
.c{

  font-size: 40px;
   margin-left: 1160px;
   margin-right: 0px;
  margin-top: -30%;
  position: absolute;
  top:2110px;
  color:   rgb(4, 121, 66);
}
.gurudwara{
  margin-top: 2.5%;
  border-radius: 10px;
  margin-left: 3%;
  border-style:double;
  height: 60%;
  width: 25%;
}
.textover4{
  position: absolute;
  top:1055px;
  left:34px;
  height: 34.2%;
  width: 23.6%;
  margin-top: 35.2%;
  margin-left: 6.5%;
  background-color: rgba(0,0,0,0.474);
  border-radius: 10px;
  align-items: center;
  font-size: 40px;
  color: aliceblue;
  display:flex;
  justify-content: center;
  
  opacity: 0;
  transition:0.6s;
}

.textover4:hover{
  opacity: 1;
}
.d{
  
  font-size: 40px;
   margin-left: 15px;
   margin-right: 0px;
  margin-top: -30%;
  position: absolute;
  top:2575px;
  left:130px;
  color:   rgb(4, 121, 66);
}
.mandarhill{
  margin-top: 3%;
  border-radius: 10px;
  margin-left: 3%;
  border-style:double;
  height: 27%;
  width: 26%;
  

}
.textover5{
  position: absolute;
  top:600px;
  left:522px;
  height: 34%;
  width: 24.7%;
  margin-top: 60.3%;
  margin-left: 6.25%;
  background-color: rgba(0,0,0,0.474);
  border-radius: 10px;
  align-items: center;
  font-size: 40px;
  color: aliceblue;
  display:flex;
  justify-content: center;

  opacity: 0;
  transition:0.6s;
}

.textover5:hover{
  opacity: 1;
}
.metabudha{
  border-style:double;
  margin-top: 3.5%;
  margin-left: 3%;
  border-radius: 10px;
  height: 43%;
  width: 33%;
}
.textover6{
  position: absolute;
  top:1070px;
  left:1030px;
  height: 34%;
  width: 31.2%;
  margin-top: 34.9%;
  margin-left: 6.1%;
  background-color: rgba(0,0,0,0.474);
  border-radius: 10px;
  align-items: center;
  font-size: 40px;
  color: aliceblue;
  display:flex;
  justify-content: center;
  opacity: 0;
  transition:0.6s;
}

.textover6:hover{
  opacity: 1;
}
.e{
  
  font-size: 40px;
  margin-left: 680px;
  color:   rgb(4, 121, 66);

}
.f{
 
  font-size: 40px;
   margin-left: 1160px;
   margin-right: 0px;
  margin-top: -30%;
  position: absolute;
  top:2575px;
  color:   rgb(4, 121, 66);
}
#nav{
 
  font-size: 150%;

}

.littichokha{

  border-style:double;
  margin-top: 5.9%;
  margin-left: 3%;
  border-radius: 10px;
  height: 43%;
  width: 32%;
}
.madhubani{
  margin-top: 5.8%;
  border-radius: 10px;
  margin-left: 3%;
  border-style:double;
  height: 50%;
  width: 30%;


}


.chhathpuja{
  margin-top: 6%;
  border-radius: 10px;
  margin-left: 2%;
  border-style:double;
  height: 50%;
  width: 30%;
  transition:0.6s;

}
.textover7{
  position: absolute;
  top:1800px;
  left:15px;
  height: 33.2%;
  width: 28.5%;
  margin-top: 35.2%;
  margin-left: 6.5%;
  background-color: rgba(0,0,0,0.474);
  border-radius: 10px;
  align-items: center;
  font-size: 40px;
  color: aliceblue;
  display:flex;
  justify-content: center;
  
  opacity: 0;
  transition:0.6s;
}

.textover7:hover{
  opacity: 1;
}
.textover8{
  position: absolute;
  top:1335px;
  left:597px;
  height: 33.6%;
  width: 28.5%;
  margin-top: 60.3%;
  margin-left: 6%;
  background-color: rgba(0,0,0,0.474);
  border-radius: 10px;
  align-items: center;
  font-size: 40px;
  color: aliceblue;
  display:flex;
  justify-content: center;
  opacity: 0;
  transition:0.6s;
}

.textover8:hover{
  opacity: 1;
}
.textover9{
  position: absolute;
  top:191.6%;
  left:63.6%;
  height: 33.6%;
  width: 30.3%;
  margin-top: 34.9%;
  margin-left: 6.1%;
  background-color: rgba(0,0,0,0.474);
  border-radius: 10px;
  align-items: center;
  font-size: 40px;
  color: aliceblue;
  display:flex;
  justify-content: center;
  opacity: 0;
  transition:0.6s;
}

.textover9:hover{
  opacity: 1;
}
.metalcraft{
  margin-top: 3%;
  border-radius: 10px;
  margin-left: 2%;
  border-style:double;
  height: 40%;
  width: 30%;
  transition:0.6s;
}
.textover10{
  position: absolute;
  top:2246px;
  left:15px;
  height: 37%;
  width: 28.5%;
  margin-top: 35.2%;
  margin-left: 6.5%;
  background-color: rgba(0,0,0,0.474);
  border-radius: 10px;
  align-items: center;
  font-size: 40px;
  color: aliceblue;
  display:flex;
  justify-content: center;
  opacity: 0;
  transition:0.6s;
}
.textover10:hover{
  opacity: 1;
}

.sonepur{
  margin-top: 3.8%;
  border-radius: 10px;
  margin-left: 3%;
  border-style:double;
  height: 55%;
  width: 30%;
}
.textover11{
  position: absolute;
  top:1810px;
  left:597px;
  height: 33.6%;
  width: 28.5%;
  margin-top: 60.3%;
  margin-left: 6%;
  background-color: rgba(0,0,0,0.474);
  border-radius: 10px;
  align-items: center;
  font-size: 40px;
  color: aliceblue;
  display:flex;
  justify-content: center;
  opacity: 0;
  transition:0.6s;
}
.textover11:hover{
  opacity: 1;
}
.stonecraft{
  border-style:double;
  margin-top: 3.9%;
  margin-left: 3%;
  border-radius: 10px;
  height: 43%;
  width: 32%;
}
.textover12{
  position: absolute;
  top:242%;
  left:63.6%;
  height: 33.4%;
  width: 30.3%;
  margin-top: 34.9%;
  margin-left: 6.1%;
  background-color: rgba(0,0,0,0.474);
  border-radius: 10px;
  align-items: center;
  font-size: 40px;
  color: aliceblue;
  display:flex;
  justify-content: center;
  opacity: 0;
  transition:0.6s;
}

.textover12:hover{
  opacity: 1;
}
.g{
  
  font-size: 40px;
   margin-left: 15px;
   margin-right: 0px;
  margin-top: -30%;
  position: absolute;
  top:3305px;
  left:290px;
  color:   rgb(4, 121, 66);
}
.h{
  
  font-size: 40px;
  margin-left: 690px;
  color:   rgb(4, 121, 66);
}
.i{
  color: rgb(15, 15, 15);
  font-size: 40px;
   margin-left: 1360px;
   margin-right: 0px;
  margin-top: -30%;
  position: absolute;
  top:3305px;
  color:   rgb(4, 121, 66);
}
.j{
  color: rgb(15, 15, 15);
  font-size: 40px;
   margin-left: 17px;
   margin-right: 0px;
  margin-top: -30%;
  position: absolute;
  top:3800px;
  left:280px;
  color:   rgb(4, 121, 66);
}
.k{
  color: rgb(15, 15, 15);
  font-size: 40px;
  margin-left: 740px;
  color:   rgb(4, 121, 66);
}
.l{
  color: rgb(15, 15, 15);
  font-size: 40px;
   margin-left: 1360px;
   margin-right: 0px;
  margin-top: -30%;
  position: absolute;
  top:3788px;
  color:   rgb(4, 121, 66);
}
footer{
  background-color: rgb(113, 116, 117);
  text-align: center;
  
  padding-top: 50px;
  color: rgb(15, 15, 15);
  

}
.photo{
  height: 350px;
  width: 261.5px;
  margin-top: 220px;
}
.title{
  font-size: 300%;
}
.destinations{
  margin-left:3%;
}
.photo1{
  height: 350px;
  width: 300px;

  position: absolute;
  left:5%;
  top:20%;
}
.downbox{
  height: 90%;
  width: 100%;
  background-color: rgb(77, 74, 77);
}
.down{
  font-size: 35px;
  color: aliceblue;
}
.logo1{
  height: 25%;
  width: 25%;
  border-radius:100%;
  
}
.footerlink{
  font-size: 30px;
  width:35%;
  height: 30%;
}
#link11:hover{
  color:rgb(247, 246, 250);
}
#link12:hover{
  color:rgb(247, 246, 250);
}
#link13:hover{
  color:rgb(247, 246, 250);
}
#link14:hover{
  color:rgb(247, 246, 250);
}
#link15:hover{
  color:rgb(247, 246, 250);
}
h5{
  font-size: 45px;
 
}
.customer{
  font-size: 30px;
  left: 35%;
  position: absolute;
  top: 436%;
}
.customer1{
  color: rgb(48, 47, 47);
}
.logo2{
  height: 55%;
  width: 55%;
  border-radius:100%;
  margin-left: 200%;
  position: absolute;
  top:-10%;
}
.copy{
  margin-left:88%;
  position: absolute;
   top:454%;
   font-size:20px ;
}
.explorebihar{
  font-size: 200%;
  margin-top: 10px;
  margin-left: 2%;
  margin-bottom: 10px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
} 
.biharmap{
  height: 60%;
  width:40%;
  position: absolute;
  left:58%;
  top:43%;
  border-radius: 10px;
  /* border-style: ridge; */
  /* box-shadow:5px 5px rgb(231, 230, 230); */

  
}
.about22{ 
  font-size: 200%;
  margin-top: 10px;
  margin-left: 2%;
  margin-bottom: 10px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;}